body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 5px;
  margin-bottom: 30px;
  color: #666;
  width: 400px;
  margin-bottom: 30px;
}

.select-input{
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}
