.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

//Expand modal
.myModal{
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
}

.closeModal{
  position: fixed;
    color: white;
    font-size: 30px;
    top: 10px;
    right: 10px;
}

.modalHide{
  display: none;
}

.modalShow{
  display: block; 
}

.myModal img {
  margin-top:10%;
}

//Responsive
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}

.image-root {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
}

@media screen and (max-width: 800px) {
  .image-root {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .image-root {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
