.image-root {
  background-size: cover;
  background-position: center center;
  // display: inline-block; 
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}

//5 classname filter
.greyscale{
  -webkit-filter: greyscale(100%); 
  filter: greyscale(100%);
}
.blur{
  -webkit-filter: invert(100%); 
  filter:blur(5px);
}
.saturate{
  -webkit-filter: saturate(8);; 
  filter:saturate(8);
}
.sepia{
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.contrast{
  -webkit-filter: contrast(250%);
  filter: contrast(250%);
}

